@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply leading-relaxed;
  }
  .social-icon {
    @apply size-8 lg:size-9 stroke-primary hover:stroke-primary-hover duration-200 border p-[0.45rem] border-primary rounded-full hover:border-primary-hover hover:shadow-md hover:shadow-primary-hover box-border;
  }
  .h1 {
    @apply text-3xl lg:text-4xl xl:text-5xl font-semibold;
  }
  .h2 {
    @apply text-2xl lg:text-3xl xl:text-4xl font-semibold;
  }
  .h3 {
    @apply text-lg lg:text-xl xl:text-2xl font-semibold;
  }
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background-color: #1c1c22;
}

::-webkit-scrollbar-thumb {
  background-color: #00ff99;
}
